<h1><%= @user.username %>'s Profile </h1>
<% unless @user.subs.empty? %>
  <h2>Moderator of</h2>
  <ul>
    <% @user.subs.each do |sub| %>
      <li><a href="<%=sub_url(sub)%>"><%= sub.title %></a></li>
    <% end %>
  </ul>
<% end %>

<h2>Posts</h2>

<% unless @user.posts.empty? %>
  <ul>
    <% @user.posts.each do |post| %>
      <li><a href="<%=post_url(post)%>"><%= post.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p><%= @user.username %> has no posts</p>
<% end %>

<h2>Comments</h2>
<% unless @user.comments.empty? %>
  <ul>
    <% @user.comments.each do |comment| %>

      <li><%= comment.content %> - Posted in <%=comment.post.title%></li>
    <% end %>
  </ul>
<% else %>
  <p><%= @user.username %> has no comments</p>
<% end %>
