<h1><%= @post.title %></h1>
<% unless @post.url.empty?%>
  <h2>URL: <%= @post.url %></h2>
<% end %>
<h2>Posted by <%= @post.author.username %></h2>
<form action="<%= edit_post_url(@post) %>"><input type="submit" value="Edit Post"></form>
<form action="<%= post_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post">
</form>

<h3>Posted in</h2>
<ul>
  <% @post.subs.each do |sub| %>
    <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ul>
<p><%= @post.content %></p>

<h2>Comments</h2>

<a href="<%=new_post_comment_url(@post)%>">Write a Comment</a>

<ul>
  <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
    <li>
      <p>Posted By: <%= comment.author.username %></p>
      <p><%= comment.content %></p>
      <a href="<%=comment_url(comment)%>">Reply</a>
      <%= render "comment", comment: comment %>
    </li>
  <% end %>
</ul>