<h1>Enter Cat Information</h1>

<form action="<%= cats_url %>" method = "POST">

<label>Name:
  <input type="text" name="cat[name]" value="<%= @cat.name %>"> 
</label>
<br><br>

<label>Sex:
  <input type="radio" id="male" name="cat[sex]" value="M">
  <label for="male">M</label>
  <input type="radio" id="female" name="cat[sex]" value="F">
  <label for="female">F</label>
</label>
<br><br>

<label>Color:</label>
<select name="cat[color]">
  <option selected disabled>--Select a color--</option>
  <% @cat.colors.each do |color| %>
    <option value="<%= color %>"><%= color %></option>
  <% end %>
</select>
<br><br>

<label>Birthdate:
  <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>"> 
</label>
<br><br>

<label>Description:</label>
<textarea name="cat[description]" value="<%= @cat.description %>"> </textarea>
<br><br>

<input type="submit" value="Submit">

</form>